*{
    padding:0;
    margin:0
    
}
:root{
    --primary:rgba(11, 50, 95, 0.829);
    --font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-color:rgb(54, 54, 54);
}

body{
    text-align: center !important;
    color: var(--font-color);
    /* font-family: var(--font); */
 
}

div .p-name{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: var(--primary);
}

footer{
    background-color: rgba(149, 151, 182, 0.267);
    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding-top: 100px;
}

.new-item-form{
    display: flex;
    justify-content: center;
    margin: 2px;
}

.field{
    margin: 0 10px 0 10px;
    font-size: 0.8rem;
    display: grid;
    gap: 2px;
    
}

input[type="text"], select{
border: none;
padding:4px;
border-radius: 2px;
}
footer form > button{
    background-color: var(--primary);
color:white;
width: 100px;
border-radius: 4px;
margin-left: 5px;
cursor: pointer;
}
.credits{
margin-top: 100px;
}
footer > div > a{
color: grey;
font-size: 0.8em;
}

@media screen and (min-width:300px) {
    button[type="submit"]{
        height: 25px;
        margin-top: 20px;
    }
}
@media screen and (max-width:935px) {
    button[type="submit"]{
        margin-top: 18px;
    }
}